.confirm-order input, .confirm-order select, .confirm-order textarea{
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 6px;
    color: #ff7f47;
    padding:8px 10px;
    font-size:14px;
    outline: none;
}
.confirm-order input:active, .confirm-order select:active, .confirm-order textarea:active{
    border: 1px solid #ff7f47;
}
.confirm-order input:hover, .confirm-order select:hover, .confirm-order textarea:hover{
    border: 1px solid #ff7f47;
    transition: 1s;
}
.confirm-order ::placeholder {
    color: #a5a5a5 ;
  }

.swal2-icon.swal2-success .swal2-success-ring {
    border: 0.25em solid #ff7f47 !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #ff7f47 !important;
}

  @media only screen and (min-width: 280px) and (max-width:992px) {
    .order-extra{
        padding-bottom: 35px;
      }
    .confirm-order {
        border-top: 1px solid #a5a5a5;
    }
    .confirm-order form{
        margin-top: 35px;
    }
    .confirm-order form input, .confirm-order form select, .confirm-order form textarea{
        width: 100% !important;
    }
}