.banner img{
    width: 100%;
}
.banner h1{
    font-size:80px;
    line-height: 90px;
}
.banner h3{
    font-size:30px;
    color: #ff7f47;
}
.carousel-caption{
    width: 100% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.carousel-indicators{
    top: 90% !important;
}

a.btn-common {
    display: inline-block;
    padding: 16.5px 32.5px;
    background: #304f47;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 9;
}
a.btn-common:before {
    background: #ff7f47;
    border-radius: 5px;
}
a.btn-common:before {
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    -webkit-clip-path: circle(27% at -3% 50%);
    clip-path: circle(27% at -3% 50%);
    transition: all .4s;
    z-index: -1;
}
a.btn-common:hover:before {
    -webkit-clip-path: circle(100%) !important;
    clip-path: circle(100%) !important;
}

@media only screen and (min-width: 900px) and (max-width:1040px) {
    .banner h1{
        font-size:60px;
        line-height: 70px;
    }
    .banner h3{
        font-size:27px;
    }
}
@media only screen and (min-width: 767px) and (max-width:900px) {
    .banner h1{
        font-size:40px;
        line-height: 50px;
    }
    .banner h3{
        font-size:25px;
    }
}
@media only screen and (min-width: 675px) and (max-width:767px) {
    .banner h1{
        font-size:35px;
        line-height: 45px;
    }
    .banner h3{
        font-size:23px;
    }
}
@media only screen and (min-width: 450px) and (max-width:675px) {
    .banner h1{
        font-size:25px;
        line-height: 35px;
    }
    .banner h3{
        font-size:15px;
    }
    a.btn-common {
        padding: 10px 20px;
        font-weight: 400;
        font-size: 13px;
    }
}
@media only screen and (min-width: 320px) and (max-width:450px) {
    .banner h1{
        font-size:20px;
        line-height: 28px;
    }
    .banner h3{
        font-size:12px;
    }
    a.btn-common {
        padding: 8px 18px;
        font-weight: 400;
        font-size: 12px;
    }
    .carousel-caption{
        width: 100% !important;
        top: 40% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}

