.news-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media only screen and (min-width: 767px) and (max-width:992px) {
    .news-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 280px) and (max-width:767px) {
    .news-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
